@font-face {
    font-family: poppins-light;
    src: url('Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-med;
    src: url('Poppins-Medium.ttf')
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('ai-image-bgd.png');
    background-size: cover;
}

header {
    font-family: poppins-med;
    font-size: 1.5vw;
    color: #ffffff;
    width: 100%;
}

button {
    font-family: poppins-med;
    font-size: 2vw;
    background-color: #e17e8e;
    border: solid 1px black;
    border-radius: 18px;
    padding: 20px;
}

.resetBtn {
    visibility: hidden;
}

.loading {
    background-image: url('loading-gif.gif');
    background-size: cover;
    margin-top: 5%;
    height: 15vh;
}

.bottom {
    width: 100%;
    height: 60vh;
    margin: auto;
    text-align: center;
}

input {
    height: 3vh;
    margin-right: 10px;
    border-radius: 18px;
    padding: 20px;
    padding-left: 15px;
    font-size: 2vw;
}

#top {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 10%;
}

.images-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.waiting-response-html {
    font-family: poppins-light;
    padding-top: 20px;
}

.image-container {
    width: 48%;
    border-radius: 15px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
}